<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Class{% endblock %}</title>

</head>
<body>
<header>
    <h1>{% block header %}Welcome to eMobilis online class {% endblock %}</h1>

<nav>
    <ul>
        <li><a href="{% url 'my_home' %}">Home</a></li>
        <li><a href="{% url 'my_about' %}">About</a></li>
        <li><a href="{% url 'my_contact' %}">Contact Us</a></li>
        <li><a href="{% url 'my_gallery' %}">Gallery</a></li>
    </ul>
</nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 online class</p>
</footer>

</body>
</html>